{% extends 'main/layout.html'%}
{% load static%}

{% block title%}О нас{% endblock %}

{% block body%} 
<main class="main container" id="main">
    <h1 style="margin-left: 300px;"></h1>
    <div style="margin: 25px;">
        <span class="about-span">Дрим тим - играй не хотим</span>
        <div style="display: flex; justify-content: space-between; margin-top: 10px; font-size: 20px">
            <div class="about-div" >
                <span class="about-span">Даниил Развеев aka Михалыч</span>
                <p>
                <a href="https://t.me/D_anissim0" target="_blank" rel="noopener noreferrer">D_anissim0</a>
                </p>
            </div>
            <div class="about-div" >
                <span class="about-span">Таня Михайлова aka хейтер</span>
                <p>
                <a href="https://t.me/groshem" target="_blank" rel="noopener noreferrer">groshem</a>
                </p>
            </div>
            <div class="about-div" >
                <span class="about-span">Настя Суржикова aka жена хейтера</span>
                <p>
                <a href="https://t.me/luxinte_nebris" target="_blank" rel="noopener noreferrer">luxinte_nebris</a>
                </p>
            </div>
            <div class="about-div" >
                <span class="about-span">Антон Смирнов aka саппорт на лайне, и танго угостит, и кларити зальет</span>
                <p>
                <a href="https://t.me/ascom8" target="_blank" rel="noopener noreferrer">ascom8 (но тут только с подарком)</a>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
