{% extends 'main/layout.html'%}
{% load static%}

{% block title%}О нас{% endblock %}

{% block body%}
    <h1 style="margin-left: 300px;">О нас</h1>
    <div style="margin: 25px;">
        <span style="margin-bottom: 10px; color: #000;">Дрим тим - играй не хотим</span>
        <div style="display: flex; justify-content: space-between; margin-top: 10px; font-size: 20px">
            <div class="about-div" >
                <span class="about-span">Даниил Развеев aka Михалыч</span>
                <p class="about-p">Ну что про него можно сказать, косяк ходячий. Ну вообще так-то ровный парень, зихеров за ним нет</p>
            </div>
            <div class="about-div" >
                <span class="about-span">Таня Михайлова aka хейтер</span>
                <p class="about-p">Ну что тут сказать, супер-пупер-дупер-мега-ультра добри</p>
            </div>
            <div class="about-div" >
                <span class="about-span">Настя Суржикова aka жена хейтера</span>
                <p class="about-p">Машина, староста, никого в обиду не даст</p>
            </div>
            <div class="about-div" >
                <span class="about-span">Антон Смирнов aka саппорт на лайне, и танго угостит, и кларити зальет</span>
                <p class="about-p">Ну вот кто это? Киборг *****, помноженнный на вечность</p>
            </div>
        </div>
    </div>
{% endblock %}
