{% extends 'main/layout2.html'%}
{% load static%}

{% block title%}Calendar{% endblock %}

{% block body%}
      <main class="main container" id="main">
         <div class="day1">
            <div class="day_header">
                  <span class="day_of_week"></span>
                  <span class="day_data">
                  <button class="plus_goal" id="plus_goal">
                     <i class="ri-add-circle-line"></i>
                  </button>
               </span>
            </div>
            <div class="lessons">
                  <div class="lesson">
                     <div class="lesson_header">
                        <span class="time_lesson">16.40 - 18.10</span>
                        <span class="type_lesson">Л</span>
                     </div>
                     <span class="name_lesson">Алгоритмы и структуры данных</span> 
                  </div>
                  <div class="lesson">
                     <div class="lesson_header">
                        <span class="time_lesson">18.30 - 20.00</span>
                        <span class="type_lesson">Л</span>
                     </div>
                     <span class="name_lesson">Алгоритмы и структуры данных</span> 
                  </div>
            </div>
            <div class="goal">
               <hr>
               <div class="plus_note">
                  <button class="btn_plus_note" id="btn_plus_note">
                     <i class="ri-sticky-note-add-line"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="day2">
            <div class="day_header">
               <span class="day_of_week"></span>
               <span class="day_data">
               <button class="plus_goal">
                  <i class="ri-add-circle-line"></i>
               </button>
            </span>
         </div>
         <div class="lessons">
               <div class="lesson">
                  <div class="lesson_header">
                     <span class="time_lesson">9.30 - 11.00</span>
                     <span class="type_lesson">ПР</span>
                  </div>
                  <span class="name_lesson">Информационное право</span> 
               </div>
               <div class="lesson">
                  <div class="lesson_header">
                     <span class="time_lesson">11.10 - 12.40</span>
                     <span class="type_lesson">Л</span>
                  </div>
                  <span class="name_lesson">Теория вероятностей</span> 
               </div>
         </div>
         <div class="goal">
            <hr>
            <div class="plus_note">
               <button class="btn_plus_note">
                  <i class="ri-sticky-note-add-line"></i>
               </button>
            </div>
         </div>
         </div>
         <div class="day3">
            <div class="day_header">
               <span class="day_of_week"></span>
               <span class="day_data">
               <button class="plus_goal">
                  <i class="ri-add-circle-line"></i>
               </button>
            </span>
         </div>
         <div class="lessons">
               <div class="lesson">
                  <div class="lesson_header">
                     <span class="time_lesson">16.40 - 18.10</span>
                     <span class="type_lesson">ПР</span>
                  </div>
                  <span class="name_lesson">Основы проектной деятельности</span> 
               </div>
               <div class="lesson">
                  <div class="lesson_header">
                     <span class="time_lesson">18.30 - 20.00</span>
                     <span class="type_lesson">Л</span>
                  </div>
                  <span class="name_lesson">Основы проектной деятельности</span> 
               </div>
         </div>
         <div class="goal">
            <hr>
            <div class="plus_note">
               <button class="btn_plus_note">
                  <i class="ri-sticky-note-add-line"></i>
               </button>
            </div>

         </div>
      </div>
      <div class="day4">
         <div class="day_header">
            <span class="day_of_week"></span>
            <span class="day_data">
            <button class="plus_goal">
               <i class="ri-add-circle-line"></i>
            </button>
         </span>
      </div>
      <div class="lessons">
            <div class="lesson">
               <div class="lesson_header">
                  <span class="time_lesson">11.10 - 12.40</span>
                  <span class="type_lesson">Л</span>
               </div>
               <span class="name_lesson">Теория вероятностей</span> 
            </div>
            <div class="lesson">
               <div class="lesson_header">
                  <span class="time_lesson">13.00 - 14.30</span>
                  <span class="type_lesson">Л</span>
               </div>
               <span class="name_lesson">Основы программирования</span> 
            </div>
      </div>
      <div class="goal">
         <hr>
         <div class="plus_note">
            <button class="btn_plus_note">
               <i class="ri-sticky-note-add-line"></i>
            </button>
         </div>
      </div>
      </div>
      <div class="day5">
         <div class="day_header">
            <span class="day_of_week"></span>
            <span class="day_data">
            <button class="plus_goal">
               <i class="ri-add-circle-line"></i>
            </button>
         </span>
      </div>
      <div class="lessons">
            <div class="lesson">
               <div class="lesson_header">
                  <span class="time_lesson">15.00 - 16.30</span>
                  <span class="type_lesson">Л</span>
               </div>
               <span class="name_lesson">Экономика</span> 
            </div>
            <div class="lesson">
               <div class="lesson_header">
                  <span class="time_lesson">16.40 - 18.10</span>
                  <span class="type_lesson">ПР</span>
               </div>
               <span class="name_lesson">Прикладная физическая культура</span> 
            </div>
      </div>
      <div class="goal">
         <hr>
         <div class="plus_note">
            <button class="btn_plus_note">
               <i class="ri-sticky-note-add-line"></i>
            </button>
         </div>
      </div>
      </div>
      <div class="day6">
         <div class="day_header">
            <span class="day_of_week"></span>
            <span class="day_data">
            <button class="plus_goal">
               <i class="ri-add-circle-line"></i>
            </button>
         </span>
      </div>
      <div class="lessons">
            <div class="lesson">
               <div class="lesson_header">
                  <span class="time_lesson">9.30 - 11.00</span>
                  <span class="type_lesson">Л</span>
               </div>
               <span class="name_lesson">Компьютерная графика</span> 
            </div>
            <div class="lesson">
               <div class="lesson_header">
                  <span class="time_lesson">11.10 - 12.40</span>
                  <span class="type_lesson">Л</span>
               </div>
               <span class="name_lesson">Компьютерная графика</span> 
            </div>
      </div>
      <div class="goal">
         <hr>
         <!-- <section class="section">
            <button class="section__button section__button1">Добавить задачу</button>
         </section> -->
         <div class="plus_note">
            <button class="section__button section__button1">
               <i class="ri-sticky-note-add-line"></i>
            </button>
         </div>
      </div>
      </div>
      <div class="day7">
         <div class="day_header">

            <span class="day_of_week"></span>
            <span class="day_data">
            <button class="plus_goal">
               <i class="ri-add-circle-line"></i>
            </button>
         </span>
      </div>
      <div class="lessons">
            <div class="lesson">
               <div class="lesson_header">
                  <span class="time_lesson">Сегодня пар нет!</span>
                  <span class="calendar_check"><i class="ri-calendar-check-line"></i></span>
               </div>
               <span class="name_lesson">Можно спать спокойно!</span> 
            </div>
      </div>
      <div class="goal">
      </div>
      </div>
      <div class="buttons">
         <button id="prevWeekBtn">Предыдущая неделя</button>
         <button id="nextWeekBtn">Следующая неделя</button>
      </div>
      <div class="modal modal1">
         <div class="modal__main">
           <p class="modal__title">Добавить задачу</p>
           
           <div class="modal__container">
            текcт текcт текст
           </div>
     
           <button class="section__button section__button1">Добавить</button>
           <button class="modal__close">&#10006;</button>
         </div>
       </div>
   </main>
{% endblock %}
