{% extends 'main/layout.html'%}
{% load static%}

{% block title%}Пары{% endblock %}

{% block body%} 
<main class="main container" id="main">
    <div class="container_deadline">
        <div class="left">
          <div class="calendar">
            <div class="month">
              <i class="fas fa-angle-left prev"></i>
              <div class="date">декабрь 2015</div>
              <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
              <div>Вс</div>
              <div>Пн</div>
              <div>Вт</div>
              <div>Ср</div>
              <div>Чт</div>
              <div>Пт</div>
              <div>Сб</div>
            </div>
            <div class="days"></div>
            <div class="goto-today">
              <div class="goto">
                <input type="text" placeholder="мм/гггг" class="date-input" />
                <button class="goto-btn">Далее</button>
              </div>
              <button class="today-btn">Сегодня</button>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="today-date">
            <div class="event-day">Ср</div>
            <div class="event-date">12 Декабрь 2022</div>
          </div>
          <div class="events"></div>
          <div class="add-event-wrapper">
            <div class="add-event-header">
              <div class="title">Добавить дедлайн</div>
              <i class="fas fa-times close"></i>
            </div>
            <div class="add-event-body">
              <div class="add-event-input">
                <input type="text" placeholder="Описание" class="event-name" />
              </div>
              <div class="add-event-input">
                <input
                  type="text"
                  placeholder="Время начала"
                  class="event-time-from"
                />
              </div>
              <div class="add-event-input">
                <input
                  type="text"
                  placeholder="Время конца"
                  class="event-time-to"
                />
              </div>
            </div>
            <div class="add-event-footer">
              <button class="add-event-btn">Сохранить</button>
            </div>
          </div>
        </div>
        <button class="add-event">
          <i class="ri-add-fill"></i>
        </button>
      </div>  
      <script src="script.js"></script>
</main>
{% endblock %}