{% extends "main/layout.html" %}
{% load custom_tags %}
{% load static %}

{% block title%}Расписание{% endblock %}

{% block body %}
<main class="main container" id="main">
  <!-- <div class="container"> -->
    <!-- <div class="head-week">
      <h1>Расписание</h1> -->

        <div class="switch-week">
          <div class="type_week">
            <!-- Информация о чётности недели -->
            <h2 id="week-parity-info">
              {% if offset|add:1|divisibleby:2 %}
                Чётная неделя
              {% else %}
                Нечётная неделя
              {% endif %}
            </h2>
          </div>

        
        <!-- Кнопки для переключения между неделями -->
        <div class="week-navigation">
            <button id="prev-week">
              <i class="ri-arrow-left-double-fill"></i>
            </button>
            <button id="next-week">
              <i class="ri-arrow-right-double-fill"></i>
            </button>
        </div>
      </div>

    <!-- Кнопка для парсинга расписания -->
    <button id="parse-schedule-btn" class="btn btn-primary">Парсить расписание</button>   
    <button id="clear-lessons-btn" class="btn btn-warning">Очистить расписание</button>
    <!-- Кнопка для открытия модального окна "Добавить пару" -->
    <!-- <div class="add_lesson">
      <div class="hr1">
        <hr>
      </div> -->
      <button id="add-lesson-btn" class="btn-primary">Добавить пару</button>
     <!--  <div class="hr2">
        <hr>
      </div>
    </div> -->

    <!-- Контейнер для расписания -->
    <div class="week-schedule">
    {% for day in days %}
        <div class="day-schedule">
          <div class="day_header">
            <div class="day_of_week">{{ day.day_name }}</div>
            <div class="day_datass"> {{ day.date|date:"d.m.Y" }}</div>
          </div>
            <div class="lessons">
              <ul class="lessons-list">
                  {% for lesson in lessons_by_day|get_item:day.day_name %}
                    <div class="lesson">
                      <li>
                        <div class="lesson_header">
                          <div class="time_lesson">{{ lesson.start_time|time:"H:i" }} - {{ lesson.end_time|time:"H:i" }}</div>
                          <div class="type_lesson">{{ lesson.room }}</div>
                        </div>
                        <a> {{lesson.lesson_type}} </a>
                        <span class="name_lesson">{{ lesson.subject }}</span>
                          <button class="delete-btn" data-id="{{ lesson.id }}">Удалить</button>
                      </li>
                    </div>
                  {% empty %}
                      <li>Нет занятий</li>
                  {% endfor %}
              </ul>
            </div>
        </div>
    {% endfor %}
</div>


        <!-- Модальное окно для добавления пары -->
        <div id="add-lesson-modal" class="modal">
          <div class="modal-content">
            
            <h2 class="h2_tasks">Добавить пару</h2>
            <div class="modal__container">
              <form id="add-lesson-form" method="POST" action="/schedule/add/">
                {% csrf_token %}
      
                <!-- День недели -->
                <label for="day">День недели:</label>
                <select class="text_input" name="day" id="day" required>
                  <option value="ПН">Понедельник</option>
                  <option value="ВТ">Вторник</option>
                  <option value="СР">Среда</option>
                  <option value="ЧТ">Четверг</option>
                  <option value="ПТ">Пятница</option>
                  <option value="СБ">Суббота</option>
                  <option value="ВС">Воскресенье</option>
                </select>
      
                <!-- Название предмета -->
                <label for="subject">Название предмета:</label>
                <input class="text_input" type="text" id="subject" name="subject" required>
      
                <!-- Аудитория -->
                <label for="room">Аудитория:</label>
                <input class="text_input" type="text" id="room" name="room" required>
      
                <!-- Время начала -->
                <div class="time_btn">
                  <div class="sdfuyt">
                    <label for="start_time">Время начала:</label>
                    <input class="text_input time" type="time" id="start_time" name="start_time" required>
                  </div>
                  <div class="idfusegh">
                  <!-- Время окончания -->
                    <label for="end_time">Время окончания:</label>
                    <input class="text_input time" type="time" id="end_time" name="end_time" required>
                  </div>
                </div>
      
                <!-- Тип занятия -->
                <label for="lesson_type">Тип занятия:</label>
                <select class="text_input" name="lesson_type" id="lesson_type" required>
                  <option value="Л">Лекция</option>
                  <option value="ПР">Практическое занятие</option>
                  <option value="ЛР">Лабораторное занятие</option>
                  <option value="КП">Курсовой проект</option>
                  <option value="КР">Курсовая работа</option>
                </select>
      
                <label for="week_parity">Четность недели:</label>
                <select class="text_input" name="week_parity" id="week_parity" required>
                    <option value="Ч">Чётная</option>
                    <option value="Н">Нечётная</option>
                    <option value="Б">Обе</option>
                </select>
      
                <!-- Кнопка для добавления пары -->
                <button class="btn-section" type="submit">Добавить</button>
                <span id="close-modal" class="close">&times;</span>
              </form>
            </div>
          </div>
        </div>
    

    <!-- Модальное окно для добавления пары -->
    <div id="add-lesson-modal" class="modal">
      <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        

        <h2>Добавить пару</h2>
        <form id="add-lesson-form" method="POST" action="/schedule/add/">
          {% csrf_token %}

          <!-- День недели -->
          <label for="day">День недели:</label>
          <select name="day" id="day" required>
            <option value="ПН">Понедельник</option>
            <option value="ВТ">Вторник</option>
            <option value="СР">Среда</option>
            <option value="ЧТ">Четверг</option>
            <option value="ПТ">Пятница</option>
            <option value="СБ">Суббота</option>
            <option value="ВС">Воскресенье</option>
          </select>

          <!-- Название предмета -->
          <label for="subject">Название предмета:</label>
          <input type="text" id="subject" name="subject" required>

          <!-- Аудитория -->
          <label for="room">Аудитория:</label>
          <input type="text" id="room" name="room" required>

          <!-- Время начала -->
          <label for="start_time">Время начала:</label>
          <input type="time" id="start_time" name="start_time" required>

          <!-- Время окончания -->
          <label for="end_time">Время окончания:</label>
          <input type="time" id="end_time" name="end_time" required>

          <!-- Тип занятия -->
          <label for="lesson_type">Тип занятия:</label>
          <select name="lesson_type" id="lesson_type" required>
            <option value="Л">Лекция</option>
            <option value="ПР">Практическое занятие</option>
            <option value="ЛР">Лабораторное занятие</option>
            <option value="КП">Курсовой проект</option>
            <option value="КР">Курсовая работа</option>
          </select>

          <label for="week_parity">Четность недели:</label>
          <select name="week_parity" id="week_parity" required>
            <option value="false">Чётная</option>
            <option value="true">Нечётная</option>
          </select>

          <!-- Кнопка для добавления пары -->
          <button type="submit">Добавить</button>
        </form>
      </div>
    </div>
  <!-- </div> -->
  <button id="add-lesson-btn" class="btn-primary">Добавить пару</button>

</main>
  <script src="{% static 'main/js/schedule.js' %}"></script>
{% endblock %}
