{% extends "main/layout.html" %}
{% load custom_tags %}
{% load static %}

{% block title%}Задачи{% endblock %}

{% block body %}
<main class="main container" id="main">
  <div class="container">
    <h1>Задания</h1>

    <!-- Кнопки для переключения между неделями -->
    <div class="week-navigation">
      <button id="prev-week">Предыдущая неделя</button>
      <button id="next-week">Следующая неделя</button>
    </div>
    
    <!-- Информация о чётности недели -->
    <p id="week-parity-info">
      {% if offset|add:1|divisibleby:2 %}
        Чётная неделя
      {% else %}
        Нечётная неделя
      {% endif %}
    </p>

    <!-- Кнопка для открытия модального окна "Добавить задание" -->
    <button id="add-task-btn" class="btn btn-primary">Добавить задание</button>

    <!-- Контейнер для расписания -->
    <div class="week-schedule">
    {% for day in days %}
        <div class="day-schedule">
            <h2>{{ day.day_name }} ({{ day.date|date:"d.m.Y" }})</h2>
            <ul class="tasks-list">
                {% for task in tasks_by_day|get_item:day.date %}
                    <li>
                        <strong>{{ task.subject }}</strong>
                        <span>{{ task.descriptions }}</span>
                        <button class="delete-btn" data-id="{{ task.id }}">Удалить</button>
                    </li>
                {% empty %}
                    <li>Нет задач</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

    <!-- Модальное окно для добавления задания -->
    <div id="add-task-modal" class="modal">
      <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h2>Добавить Задание</h2>
        <form id="add-task-form" method="POST" action="/tasks/add/">
          {% csrf_token %}
          
          <!-- Название задания -->
          <label for="subject">Название задания:</label>
          <input type="text" id="subject" name="subject" required>

          <!-- Описание задания -->
          <label for="descriptions">Описание:</label>
          <input type="text" id="descriptions" name="descriptions" required>

          <!-- Дата задания -->
          <label for="date">Дата:</label>
          <input type="date" name="date" id="date" required>

          <!-- Кнопка для добавления задания -->
          <button type="submit">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</main>
<script src="{% static 'main/js/tasks.js' %}"></script>
{% endblock %}
