{% extends "main/layout.html" %}
{% load custom_tags %}
{% load static %}

{% block title%}Задачи{% endblock %}

{% block body %}
<main class="main container" id="main">
  <!-- <div class="container"> -->
        <h1>Задачи</h1>

        <div class="switch-week">
          <div class="type_week">
            <!-- Информация о чётности недели -->
            <h2 id="week-parity-info">
              {% if offset|add:1|divisibleby:2 %}
                Чётная неделя
              {% else %}
                Нечётная неделя
              {% endif %}
            </h2>
          </div>


        
        <!-- Кнопки для переключения между неделями -->
        <div class="week-navigation">
            <button id="prev-week">
              <i class="ri-arrow-left-double-fill"></i>
            </button>
            <button id="next-week">
              <i class="ri-arrow-right-double-fill"></i>
            </button>
        </div>
      </div>
      

    
    <!-- Кнопка для открытия модального окна "Добавить задание" -->
    <button id="add-task-btn" class="btn-primary task">Добавить задание</button>
    
    <!-- <div class="calendar_main"> -->
      <div class="week-schedule">
      {% for day in days %}
        <div class="day-schedule">
          <div class="day_header">
            <div class="day_of_week">{{ day.day_name }}</div>
            <div class="day_datass"> {{ day.date|date:"d.m.Y" }}</div>
          </div>
              <ul class="lessons-list">
                  {% for task in tasks_by_day|get_item:day.date %}
                      <li>
                          <strong>{{ task.subject }}</strong>
                          <div>{{ task.descriptions }}</div>
                          <button class="delete-btn" data-id="{{ task.id }}">Удалить</button>
                      </li>
                  {% empty %}
                      <li>Нет задач</li>
                  {% endfor %}
              </ul>
          </div>
      {% endfor %}
      </div>
    </div>

    <!-- Модальное окно для добавления задания -->
    <div id="add-task-modal" class="modal">
      <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h2 class="h2_tasks">Добавить Задание</h2>
        <form id="add-task-form" method="POST" action="/tasks/add/">
          {% csrf_token %}
          
          <!-- Название задания -->
          <label for="subject">Название задания:</label>
          <input class="text_input" type="text" id="subject" name="subject" required>

          <!-- Описание задания -->
          <label for="descriptions">Описание:</label>
          <input class="text_input" type="text" id="descriptions" name="descriptions" required>

          <!-- Дата задания -->
          <label for="date">Дата:</label>
          <input class="text_input" type="date" name="date" id="date" required>

          <!-- Кнопка для добавления задания -->
          <button class="btn-section" type="submit">Добавить</button>
        </form>
      </div>

</main>
<script src="{% static 'main/js/tasks.js' %}"></script>
{% endblock %}
