{% extends 'main/layout2.html'%}
{% load static%}

{% block title%}Profile{% endblock %}

{% block body%}
<main class="main container" >
    <form action="profile" method="post" enctype = "multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <div class="form">
                <div>
                    <img width ="100" height ="100"
                        src = "{% if user.image %} {{user.image.url}} {% else %} {% static "main\img\defoult_avatar.svg" %} {% endif %}">
                </div>
                <div>
                    <span>
                        <img src="{% static 'main/img/person.svg' %}" alt="person">
                    </span>
                    <label class="proff" for="{{ form.image.id_for_label}}">Аватар</label>
                    {{ form.image }}
                </div> 
                <div>
                    <span>
                        <img src="{% static 'main/img/person.svg' %}" alt="person">
                    </span>
                    <label class="proff" for="{{ form.first_name.id_for_label}}">Имя</label>
                    {{ form.first_name }}
                </div>    
                <div>
                    <span>
                        <img src="{% static 'main/img/person.svg' %}" alt="person">
                    </span>
                    <label class="proff" for="{{ form.last_name.id_for_label}}">Фамилия</label>
                    {{ form.last_name }}
                </div> 
                <div>
                    <span>
                        <img src="{% static 'main/img/person.svg' %}" alt="person">
                    </span>
                    <label class="proff" for="{{ form.group.id_for_label}}">Группа</label>
                    {{ form.group }}
                </div>
                <div>
                    <span>
                        <img src="{% static 'main/img/person.svg' %}" alt="person">
                    </span>
                    <label class="proff" for="{{ form.username.id_for_label}}">Имя Пользователя</label>
                    {{ form.username }}
                </div>
                <div>
                    <span>
                        <img src="{% static 'main/img/email.svg' %}" alt="email">
                    </span>
                    <label class="proff" for="{{ form.email.id_for_label}}">E-mail</label>
                    {{ form.email }}
                </div> 
                    <div class="safe">
                            <input type='submit' value ='Сохранить'>
                    </div>
            </div>
        </fieldset>
        </form>
</main>
{% endblock %}